/* @keyframes opening {
    0% {background-image: url("/public/img/back.png"); opacity: 0%;}
    50% {background-image: url("/public/img/back.png"); opacity: 50%;}
    100% {background-image: url("/public/img/back.png"); opacity: 100%;}
    75% {background-image: url("/public/img/back.png"); opacity: 50%;}
    100% {background-image: url("/public/img/back.png"); opacity: 100%;}
} */
.div {
    padding: none;
    margin: none;
    background-color: rgb(23, 33, 42);;
    height: 241px;
    margin-top: 30px;
    text-align: center;
}
.div:hover img {
    bottom: 20px;
}
.div:hover .id {
    opacity: 100%;
}
.div:hover .button {
    top: -15px;
}

.card {
    display: flex;
    flex-direction:row;
    flex-flow:row;
    /* width: 300px; */
    align-content: center;
    justify-content: space-evenly;
    color: wheat;
    position: relative;
    grid-template-columns: max-content;
    /* padding: 5px;   */
    /* animation-name: opening;
    animation-duration: 3s; */
    /* background-color: rgb(140,244,44); */
}

.card img {
    opacity: 100%;
    border-bottom-left-radius: 15%; 
    border-bottom-right-radius: 15%; 
    position: relative;
    width: 200px;
    ;
}

 .button {
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(23, 33, 42);
    color: rgb(140,244,44);
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
}
 .button:hover {
    background-color:rgb(140,244,44);
    color: rgb(23,33,42);
}

.name {
    /* font-family: "Get Schwifty", TrueType; */
    font-size: medium;
    color: white;
    position: absolute;
    bottom: -28px;
    left: 0px;
    background-color:rgb(23, 33, 42);
    cursor: default;
    text-align: center;
    width: 100%;
    justify-content: center;
    
    
}
.name:hover {
    opacity: 100%;
    color: rgb(140,244,44);
    font-size: large;
}

.id {
    opacity: 0%;
    position: absolute;
    font-size: small;
    color: white;
    position: absolute;
    bottom: -10px;
    left: 0px;
    background-color:rgb(23, 33, 42);
    cursor: default;
    text-align: center;
    width: 100%;
    justify-content: center;

}