.div {
    display: flex;
    justify-content: center;
    margin-top: 25px;    
}

.detail {
  background-color: rgb(23,33,42);
  width: 30%;
  height: 250px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.detail2 {
    opacity: 100%;
    color: white;
    text-align: left;
    margin-left: 25px;
    align-content: center;
    height: 220px;
}

.nombre {
    color: rgb(140,244,44);
    font-family: "Get Schwifty", TrueType;
}

.imagen {
  display:flex;
  flex-flow:column ;
}

.img {
    height: 250px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.button {
    font-weight: bolder;
    border-radius: 10%;
    background-color: rgb(140,244,44);
    color: rgb(0, 0, 0);
    width: 250px;
    margin-top: 15px;
}
  .button:hover {
    background-color: rgb(23, 33, 42);
    color: rgb(140,244,44);
    
    box-shadow: 1px 1px rgb(255, 255, 255);
  }
  .button:active {
    box-shadow: 2px 2px rgb(0, 0, 0);
  }