.nav {  
    background-image: url('/public/img/Rick_and_Morty.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    height: 100px;
    flex-direction:row;
    flex-flow: column;
    align-items: flex-end;
    justify-content:flex-start;
    
    position: static;
    font-size: small;
    color: rgb(140,244,44); 
    margin: 5px;   
}

.home {
    font-size: small;
    color: rgb(140,244,44); 
    margin: 5px;   
}
.home:hover {
    font-weight: bolder;
}

.isActive {
    font-weight: bolder;
    color: rgb(140,244,44);
    padding: 5px;
}
