
.input {
    margin: 15px;
    background-color: rgb(67, 68, 68);
    color: wheat;
    height:min-content;
    font-weight: bold ;

}

.button {
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(67, 68, 68);
    color: rgb(192, 192, 192);
    height: 50%;
}
.button:hover {
    background-color: darkslategray;
    color: wheat;
}

/* .fondo {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    width: 100%;
    align-content: right;
    justify-content:flex-start;
    color: wheat;
    position: static;

} */